.conteiner{
    background-color: rgb(68, 21, 70);
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 10px;

}
h1{
    color: aliceblue;
}